* {
    font-family: "Noto Sans";
}

.li-1:hover {
    color: #ff7d1a;
}

.custom-dropdown .dropdown-toggle::after {
    display: none;
}

.cart {
    margin: 0;
}

.cart-num {
    padding: 5%;
    background-color: #ff7d1a;
}

.shop-cart {
    cursor: pointer;
}

.cart-num {
    font-size: small;
}
