@media (max-width: 768px) {
    .pics-desc {
        display: flex;
        justify-content: center;
    }
    .pics-highlight {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    .product-pics {
        display: none;
    }
}